@use "./variables" as *;
@use "global";

// SERVICES SECTION HERE

.services {
  margin: 60px 0px;
}

.services .wrapper {
  display: flex;
  justify-content: space-between;
}
.service-box {
  display: flex;
  border: 2px dotted $primary;
  padding: 5px 30px;
  align-items: center;

  img {
    max-width: 50px;
    max-height: 50px;
  }
  .service-info {
    margin-left: 20px;
  }
}

// Products Section

.products .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    text-transform: uppercase;
    position: relative;
    margin: 20px 0px;
  }
  h2:before,
  h2:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 70px;
    height: 2px;
    background-color: $primary;
  }
  h2:before {
    right: 0;
    margin-right: -90px;
  }
  h2:after {
    left: 0;
    margin-left: -90px;
  }
}
.filter-tabs {
  display: flex;
  width: 40%;
  margin: 20px 0px;
  justify-content: space-around;
  li {
    border: 1px solid lightgray;
    padding: 10px 25px;
    &:hover {
      border: 1px dotted $primary;
    }
  }
  a {
    color: #000;
    &:hover {
      color: $primary;
    }
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px 0px;
}

.product {
  display: flex;
  flex-direction: column;
  flex: 0 0 250px;
  line-height: 0;

  img {
    max-width: 90%;
  }
  .cart {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
  }
}

// Collection
.collection .wrapper {
  display: flex;
  flex-wrap: wrap;
}

.collection-lg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 2 1 65%;
  margin: 10px;
  padding: 60px;
}

.collection-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 300px;

  h2 {
    font-size: 36px;
  }
  button {
    text-transform: uppercase;
    font-size: small;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: $primary;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50px;
  }
}
.collection-sm {
  flex: 2 1 25%;
  margin: 10px;
  display: flex;
  flex-direction: column;

  .collection-text {
    align-items: center;
    margin-top: 30px;
  }
}

.box-1 {
  background: url(./../assets/b1.jpeg);
}
.box-2 {
  background: url(./../assets/b2.jpeg);
}
.box-3 {
  background: url(./../assets/b3.jpeg);
}
.box-4 {
  background: url(./../assets/b4.jpeg);
}

.box-1,
.box-2,
.box-3,
.box-4 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

// BLOG STYLES

.blog .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    text-transform: uppercase;
    position: relative;
    color: #000;
    margin: 20px 0px;
  }
  h2:before,
  h2:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 70px;
    height: 2px;
    background-color: #000;
  }
  h2:before {
    right: 0;
    margin-right: -90px;
  }
  h2:after {
    left: 0;
    margin-left: -90px;
  }
  .sub-heading {
    text-align: center;
    width: 50%;
  }
}

.posts {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

.post {
  background: $faint-blue;
  flex-basis: 300px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  .post-date {
    color: $primary;
  }
  .post-heading {
    line-height: 0;
  }

  img {
    margin-top: 20px;
  }
}

// MEDIA QUERIES

@media (max-width: 992px) {
  .services .wrapper {
    flex-direction: column;
  }
  .service-box {
    margin-bottom: 20px;
  }

  //   BLOG SECTION

  .posts {
    flex-direction: column;

    .post {
      margin: 30px auto 0;
      max-width: 70%;
      width: 90%;
      align-items: center;

      .post-content {
        width: 60%;
      }
      img {
        margin-top: 20px;
      }
    }
  }
}
@media (max-width: 768px) {
  .product {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 20px;
  }

  //   collection

  .collection .wrapper {
    flex-direction: column;
  }
  .collection-lg {
    flex: 1 1 100%;
  }
  .collection-sm {
    flex: 1 1 100%;
    padding: 60px;
    .collection-text {
      align-items: flex-start;
    }
  }
}

@media (max-width: 480px) {
  .posts {
    flex-direction: column;

    .post {
      margin-top: 30px;
      max-width: 100%;
      width: 100%;
      align-items: flex-start;

      .post-content {
        width: 100%;
      }
    }
  }
}
