@use "./variables" as *;
@use "global";

// SERVICES SECTION HERE

.services {
  margin: 60px 0px;
}

.services .wrapper {
  display: flex;
  justify-content: space-between;
}
.service-box {
  display: flex;
  border: 2px dotted $primary;
  padding: 5px 30px;
  align-items: center;

  img {
    max-width: 50px;
    max-height: 50px;
  }
  .service-info {
    margin-left: 20px;
  }
}

// Products Section

.products .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    text-transform: uppercase;
    position: relative;
    margin: 20px 0px;
  }
  h2:before,
  h2:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 70px;
    height: 2px;
    background-color: $primary;
  }
  h2:before {
    right: 0;
    margin-right: -90px;
  }
  h2:after {
    left: 0;
    margin-left: -90px;
  }
}
.filter-tabs {
  display: flex;
  width: 40%;
  margin: 20px 0px;
  justify-content: space-around;
  li {
    border: 1px solid lightgray;
    padding: 10px 25px;
    &:hover {
      border: 1px dotted $primary;
    }
  }
  a {
    color: #000;
    &:hover {
      color: $primary;
    }
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px 0px;
}

.product {
  display: flex;
  flex-direction: column;
  flex: 0 0 250px;
  line-height: 0;

  img {
    max-width: 90%;
  }
  .cart {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
  }
}

// MEDIA QUERIES

@media (max-width: 992px) {
  .services .wrapper {
    flex-direction: column;
  }
  .service-box {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .product {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 20px;
  }
}
